<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('base/head'); %>
</head>

<body>

<%- include('base/navegation', {variant:'user'}); %>

<br><br><br><br><br><br>
<h4>HOLA</h4>
<br><br><br><br><br><br>


<%- include('base/footer'); %>

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
<script src="js/single_script.js"></script>

</body>

</html>