<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('base/head'); %>
</head>

<body onload="counter()">

    <%- include('base/navegation', {variant:'user'}); %>

    <div class="container">
    <div class="centered text-center" id="message-div">
      <h4>
        <%= message %>
      </h4>
      <h5>
        <div id="timer"></div>
      </h5>
    </div>
  </div>

    <%- include('base/footer'); %>

    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/single_script.js"></script>
</body>

</html>