<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Mersoft</h3>
                    <p>
                        Calle Siempre Viva 772
                        <br> Maipú, Mendoza
                        <br> Argentina <br><br>
                        <strong>Phone:</strong> 261-259787123<br>
                        <strong>Email:</strong> contacto@mersoft.com.ar <br>
                        <%- include('socialiti'); %>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links Útiles</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestros Servicios</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>¡Mantente al tanto de todas las novedades!</h4>
                    <p>¿Quieres ser el primero en conocer nuestras últimas actualizaciones, ofertas exclusivas y noticias emocionantes? ¡Suscríbete a nuestra lista de correo y no te pierdas ni un solo detalle! Deja tu correo electrónico abajo y únete a nuestra comunidad de seguidores informados.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->
