  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href=".."><img src="/img/icon.png" alt="Mersoft icon" class="img-fluid"></a>
          <h1 class="text-light"><a href="..">Mersoft</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a href="..">Inicio</a></li>

            <% if(login_user){ %>
                    <ul>
                        <li>
                            <a href="/user">Usuarios</a>
                        </li>
                        <li>
                            <a href="/profile">Perfil</a>
                        </li>
                    </ul>
                    <li>
                        <form action="/<%= variant %>/search" method="GET">
                            <input class="form-control m-2" type="search" placeholder="Buscar" aria-label="Buscar" name="search">
                        </form>
                    </li>
                <li>
                    <a href="/logout"><i class="bi bi-box-arrow-left"></i></a>
                </li>
            <% } else{ %>
                <li>
                    <a href="/signin" ><i class="bi bi-box-arrow-right signin"></i></a>
                </li>
            <% } %>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
